.venv/
venv/
env/
__pycache__/
*.pyc

1- login e lista de tarefas.txt
2- labs.txt
3- KC.txt
debug_kc_frames.txt
dom.txt
debug.py
gabarito kcs .pdf
gabarito_bruto.txt
problema de não conseguir clicar.txt
.env
estrutura.txt
test_labs.py